main {
    height: 100dvh;
}

.home-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 30px; */
    height: 100dvh;
}



.categories {
    display: flex;

}

.category-grid {
    display: flex;
    flex-direction: row;
}

.top-page {
    /* background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        url(../../img/BAGUE.jpg) center/cover no-repeat; */
    background-image: url(../../img/BAGUE.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100dvw;
}

.top-page-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h1.top-page-header {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: cursive;
    font-weight: 400;
    color: var(--purple);
    padding-bottom: 220px;
}

@media (max-width: 768px) {
    h1.top-page-header {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        transform: translateY(60px);
        transition: translate 0.4s;
    }
}

h1.top-page-header span.page-main-title {
    font-size: 3em;
    color: var(--golden);
    text-shadow: 0 0 10px var(--purple), 0 0 20px var(--purple);
    letter-spacing: 0.1em;
}

p.top-page-parag {
    font-family: cursive;
    font-size: 2em;
    color: var(--purple);
    text-shadow: 0 0 1px var(--purple), 0 0 4px var(--purple);
    padding-top: 120px;
}

h2.about-headr {
    font-size: xx-large;
    font-family: cursive;
    font-weight: bold;
    color: var(--purple);
}

span.about-span {
    color: var(--golden);
}

p.about-parag {
    font-family: cursive;
    font-size: medium;
    color: var(--purple);
}

@media (max-width: 767px) {
    h2.about-headr {
        font-size: 24px;
    }

    p.about-parag {
        padding: 0 5px;
        margin-bottom: 0;
    }
}

.see-all-btn {
    margin: 30px 0;
}


a.show-all {
    display: inline-block;
    padding: 14px 32px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(9deg, var(--golden), var(--purple));
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* hover effect */
a.show-all:hover {
    transform: translateY(-4px) scale(1.2);
    background: linear-gradient(45deg, #c59e03, #ffe000);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
}

/* small glowing animation */
a.show-all:focus,
a.show-all:active {
    outline: none;
    box-shadow: 0 0 20px #ff6a00, 0 0 40px #ee0979;
}


/* slider ------------------------------ categories !!!!!!!!!!!!!!!!! ------##################### */