{% extends 'base.html' %}

{% load static %}
{% block content %}
<div>
    {% if categories %}
        {% for category in categories %}
            <div>
                <h2>{{ category.names }}</h2>
                <p>{{ category.description }}</p>
                {% if category.thumbnail %}
                    <a href="{% url 'product_list' category.id %}">
                        <img src="{{ category.thumbnail.url }}" alt="{{ category.names }}" style="max-width: 400px;">
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>Aucune catégorie disponible.</p>
    {% endif %}
</div>
{% endblock %}





