{% extends 'base.html' %}

{% block content %}
<div class="card-container">
    <div class="card">
        <h1>Produits de la catégorie : {{ category.names }}</h1>

        {% if products %}
            <ul>
                {% for product in products %}
                    <li class="product-item">
                        <a href="{% url 'product_detail' product.slug %}">
                            {% if product.thumbnail %}
                                <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 300px;">
                            {% endif %}
                            <h3>{{ product.name }}</h3>
                        </a>
                        <p><strong>Prix :</strong> {{ product.price }} €</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun produit dans cette catégorie.</p>
        {% endif %}

        <a href="{% url 'home' %}">← Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
