{% extends 'base.html' %}

{% block content %}
<div class="card-container">
    <div class="card">
        <h1>{{ product.name }}</h1>

        {% if product.thumbnail %}
            <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 400px;">
        {% endif %}

        <p><strong>Prix :</strong> {{ product.price }} €</p>
        <p>{{ product.description }}</p>

        <!-- Bouton Ajouter au panier -->
        <form action="{% url 'add-to-cart' product.slug %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-add-cart">Ajouter au panier</button>
        </form>

        <a href="{% url 'product_list' product.category.id %}">Retour à la liste des produits</a>
        <!-- Bouton Ajouter au panier -->

        <a href="{% url 'product_list' product.category.id %}">← Retour à {{ product.category.names }}</a>
    </div>
</div>
{% endblock %}
