{% extends 'base.html' %}



<!-- Section liste des produits dans une catégories -->
{% block content %}
        <h1>Notre collection de {{ category.names }}</h1>

        {% if products %}
            <ul>
                {% for product in products %}
                    <li class="product-item">
                        <a href="{% url 'product_detail' product.slug %}">
                            {% if product.thumbnail %}
                                <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 300px;">
                            {% endif %}
                            <h3>{{ product.name }}</h3>
                        </a>
                        <p><strong>Prix :</strong> {{ product.price }} €</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun produit dans cette catégorie.</p>
        {% endif %}

        <a href="{% url 'home' %}">← Retour à l'accueil</a>
{% endblock %}

<!-- Section liste des produits dans une catégories -->

<section class="liste de produits">
    <div class="liste de produits">
        <a href="" class="box_produits"></a>
    </div>
</section>


Liste de produits
.box_produits {
    background-image:
}