{% extends 'base.html' %}

{% block content %}

<!-- SECTION HERO -->
<div class="home-page-content">
    <section class="top-page">
        <div class="top-page-child">
            <h1 class="top-page-header">La Collection <span class="page-main-title">Ecloria</span></h1>
            <p class="top-page-parag">L’élégance intemporelle au service de votre beauté</p>
        </div>
    </section>

    <!-- SECTION A PROPOS -->
    <section class="about-ecloria">
        <h2 class="about-headr">À propos <span class="about-span">d’</span>Ecloria</h2>
        <p class="about-parag">
            Depuis sa création, Ecloria s’engage à offrir des bijoux uniques alliant
            élégance, authenticité et savoir-faire artisanal.
            Chaque pièce est pensée pour sublimer votre style.
        </p>
    </section>

    <!-- SECTION CATEGORIES -->
    <section class="categories">
        <h2 class="categories-header">Nos Catégories</h2>
        <div class="category-slider">
            <div class="category-track">
                {% if categories %}
                {% for category in categories %}
                <div class="category-card">
                    <a href="{% url 'product_list' category.id %}">
                        {% if category.thumbnail %}
                        <img src="{{ category.thumbnail.url }}" alt="{{ category.names }}">
                        {% endif %}
                        <h3 class="categories-name">{{ category.names }}</h3>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <p>Aucune catégorie disponible.</p>
                {% endif %}
            </div>
        </div>
    </section>



    {% endblock %}