{% extends 'base.html' %}

{% block content %}

<!-- SECTION HERO -->
<div class="home-page-content">
    <section class="top-page">
        <div class="top-page-child">
            <h1 class="top-page-header">La Collection <span class="page-main-title">Ecloria</span></h1>
            <p class="top-page-parag">L’élégance intemporelle au service de votre beauté</p>
        </div>
    </section>

    <!-- SECTION A PROPOS -->
    <section class="about-ecloria">
        <h2 class="about-headr">À propos <span class="about-span">d’</span>Ecloria</h2>
        <p class="about-parag">
            Depuis sa création, Ecloria s’engage à offrir des bijoux uniques alliant
            élégance, authenticité et savoir-faire artisanal.
            Chaque pièce est pensée pour sublimer votre style.
        </p>
    </section>

    <!-- SECTION CATEGORIES -->
    <div class="see-all-btn">
        <a class="show-all" href="{% url 'all_categories' %}">Voir toutes les catégories</a>
    </div>
</div>
{% endblock %}