{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="card-container">
    <h2>Inscription</h2>

    {% if messages %}
      <ul>
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <p>
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </p>

        <p>
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </p>

        <p>
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </p>

        <p>
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </p>

        <p>
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {{ form.password1.errors }}
        </p>

        <p>
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {{ form.password2.errors }}
        </p>

        <button type="submit">S'inscrire</button>
    </form>

    {% if redirect %}
    <script>
      setTimeout(function() {
        window.location.href = "{% url 'login' %}";
      }, 3000);
    </script>
    {% endif %}
</div>
{% endblock %}
